name: Build Application

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]
  workflow_dispatch:

jobs:
  build-windows:
    name: Build Windows
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v4
      
      - uses: subosito/flutter-action@v2
        with:
          channel: 'stable'
          
      - name: Install dependencies
        run: flutter pub get
        
      - name: Build Windows
        run: flutter build windows --release
        
      - uses: actions/upload-artifact@v4
        with:
          name: esp32-ota-uploader-Windows
          path: build/windows/x64/runner/Release/*

  build-linux:
    name: Build Linux
    runs-on: ubuntu-latest
    container:
      image: ubuntu:20.04
    steps:
      - name: Install System Dependencies
        run: |
          apt-get update
          DEBIAN_FRONTEND=noninteractive apt-get install -y git curl unzip clang cmake ninja-build pkg-config libgtk-3-dev liblzma-dev xz-utils jq
      
      - uses: actions/checkout@v4
        with:
          safe-directory-check: false

      - name: Fix Git Trust
        run: git config --global --add safe.directory '*'

      - uses: subosito/flutter-action@v2
        with:
          channel: 'stable'
          
      - name: Enable Linux Desktop
        run: flutter config --enable-linux-desktop

      - name: Install Flutter Dependencies
        run: flutter pub get
        
      - name: Create Linux directory (if missing)
        run: flutter create --platforms=linux . || true

      - name: Build Linux
        run: flutter build linux --release

      - uses: actions/upload-artifact@v4
        with:
          name: esp32-ota-uploader-Linux
          path: build/linux/x64/release/bundle/*
